$crc: '.h-popper';

#{$crc}{
	&[data-popper-placement^='top'] #{$crc}__arrow {
		bottom: 0;
	}
	&[data-popper-placement^='left'] #{$crc}__arrow {
		right: 0;
	}

	&[data-popper-placement^='bottom'] #{$crc}__arrow {
		top: 0;
	}
	&[data-popper-placement^='right'] #{$crc}__arrow {
		left: 0;
	}
}
