$crc: '.h-button';

#{$crc} {
	border-radius: $v-control-border-radius;
	padding: 0 $g-24;
	border-width: $v-control-border-width;
	border-style: solid;
	font-size: $fs-default;
	background: transparent;
	transition: $t-fast-standard;
	outline: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	position: relative;


	&.-loading {
		pointer-events: none;

		#{$crc}__loading-icon {
			opacity: 1;
		}
		#{$crc}__content {
			transform: translate($g-12, 0);
		}
		#{$crc}__icon {
			opacity: $o-0;
			transform: translate(0, 0);
		}

		&.-has-icon {
			#{$crc}__content {
				transform: translate(0, 0);
			}
		}
	}

	&.-has-icon #{$crc}__loading-icon {
		left: $g-24;
	}

	&.-styling-primary {
		background: $c-primary-background;
		border-color: $c-primary-border;
		color: $c-primary-text;

		&:hover, &:focus {
			border-color: $c-hover--primary-border;
			box-shadow: $sd-hover--primary-box-shadow;
			//text-shadow: $sd-hover--primary-text-shadow;
		}
		&:active {
			border-color: $c-active--primary-border;
			box-shadow: $sd-active--primary-box-shadow;
			//text-shadow: $sd-active--primary-text-shadow;
			color: $c-active--primary-text;
		}
		&:disabled {
			background: $c-disabled--primary-background;
		}
	}

	&.-styling-secondary {
		background: $c-secondary-background;
		border-color: $c-secondary-border;
		color: $c-secondary-text;

		&:hover, &:focus {
			border-color: $c-hover--secondary-border;
			box-shadow: $sd-hover--secondary-box-shadow;
			//text-shadow: $sd-hover--secondary-text-shadow;
		}
		&:active {
			border-color: $c-active--secondary-border;
			box-shadow: $sd-active--secondary-box-shadow;
			//text-shadow: $sd-active--secondary-text-shadow;
			color: $c-active--secondary-text;
		}
		&:disabled {
			background: $c-disabled--secondary-background;
		}
	}

	&.-styling-negative {
		background: $c-negative-background;
		border-color: $c-negative-border;
		color: $c-negative-text;

		&:hover, &:focus {
			border-color: $c-hover--negative-border;
			box-shadow: $sd-hover--negative-box-shadow;
			//text-shadow: $sd-hover--negative-text-shadow;
		}
		&:active {
			border-color: $c-active--negative-border;
			box-shadow: $sd-active--negative-box-shadow;
			//text-shadow: $sd-active--negative-text-shadow;
			color: $c-active--negative-text;
		}
		&:disabled {
			background: $c-disabled--negative-background;
		}
	}

	&.-styling-success {
		background: $c-success-background;
		border-color: $c-success-border;
		color: $c-success-text;

		&:hover, &:focus {
			border-color: $c-hover--success-border;
			box-shadow: $sd-hover--success-box-shadow;
			//text-shadow: $sd-hover--success-text-shadow;
		}
		&:active {
			border-color: $c-active--success-border;
			box-shadow: $sd-active--success-box-shadow;
			//text-shadow: $sd-active--success-text-shadow;
			color: $c-active--success-text;
		}
		&:disabled {
			background: $c-disabled--success-background;
		}
	}

	&.-styling-warning {
		background: $c-warning-background;
		border-color: $c-warning-border;
		color: $c-warning-text;

		&:hover, &:focus {
			border-color: $c-hover--warning-border;
			box-shadow: $sd-hover--warning-box-shadow;
			//text-shadow: $sd-hover--warning-text-shadow;
		}
		&:active {
			border-color: $c-active--warning-border;
			box-shadow: $sd-active--warning-box-shadow;
			//text-shadow: $sd-active--warning-text-shadow;
			color: $c-active--warning-text;
		}
		&:disabled {
			background: $c-disabled--warning-background;
		}
	}

	&.-styling-danger {
		background: $c-danger-background;
		border-color: $c-danger-border;
		color: $c-danger-text;

		&:hover, &:focus {
			border-color: $c-hover--danger-border;
			box-shadow: $sd-hover--danger-box-shadow;
			//text-shadow: $sd-hover--danger-text-shadow;
		}
		&:active {
			border-color: $c-active--danger-border;
			box-shadow: $sd-active--danger-box-shadow;
			//text-shadow: $sd-active--danger-text-shadow;
			color: $c-active--danger-text;
		}
		&:disabled {
			background: $c-disabled--danger-background;
		}
	}

	&.-styling-none {
		background: transparent;
		border-color: transparent;
		border-width: 0;
		color: $c-dark-text;
	}

	&.-size-normal {
		min-width: $v-control-height;
		height: $v-control-height;
		line-height: $v-control-height;
	}

	&.-size-small {
		min-width: $v-control-height-small;
		height: $v-control-height-small;
		line-height: $v-control-height-small;
	}

	&.-icon-only {
		padding: 0;

		#{$crc}__icon {
			margin-right: 0;
		}

		#{$crc}__loading-icon {
			left: 0;
		}
	}

	// Shared for all types
	&:disabled {
		color: $c-disabled--negative-text;
		opacity: $v-control-disabled-opacity;
		pointer-events: none;
	}
}

#{$crc}__icon {
	vertical-align: middle;
	opacity: 1;
	margin-right: $g-4;
	transition: opacity $t-fast-standard;
}

#{$crc}__loading-icon {
	position: absolute;
	top: 50%;
	left: $g-12 - $v-control-border-width;
	margin-top: -$g-8;
	animation: hyrnatic-spin $s-slow infinite linear;
	opacity: $o-0;
}
#{$crc}__loading-icon, #{$crc}__content, #{$crc}__icon {
	transition: $t-fast-standard;
}
