$crc: '.h-list';

#{$crc}{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}

#{$crc}-item{
	transition: all $t-medium-standard;
	display: block;
}

.list-complete-enter-from,
.list-complete-leave-to {
	opacity: 0;
	transform: translateX($g-16);
}

.list-complete-leave-active {
	position: absolute;
}
