$crc: '.h-table';

#{$crc} {
	width: 100%;
	font-size: $fs-default;
	background-color: $c-primary-background;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: $v-box-border-radius;

	td, th {
		padding: $g-8 $g-12;
		line-height: $v-control-height - $g-16;
	}

	th {
		@include text-primary-content();
		text-align: left;
		border-bottom: 2px solid $c-primary-border;
	}

	td {
		transition: background-color $t-fast-standard;
		border-bottom: 1px solid $c-primary-border;

		&.-minimum-width {
			width: 1px;
		}
	}

	tr {
		&:last-child td {
			border-bottom-color: transparent;
		}

		&.-selected td {
			background-color: rgba($c-primary, $o-16);
		}
	}

	&.-striped {
		tr:nth-child(even) {
			td {
				background-color: rgba($c-primary-border, $o-8);
			}
		}
		tr.-selected td {
			background-color: rgba($c-primary, $o-16);
		}
	}

	&.-hoverable tr:hover:not(.-no-hover) td {
		background-color: rgba($c-primary-border, $o-32);
	}

	.h-checkbox {
		display: flex;
		height: 12px;
	}
}

/*#{$crc}-column__header {
	display: flex;
	align-items: center;

	> .content {
		flex-grow: 1;
	}

	> .sorting-icon {
		width: 16px;
		height: 24px;
		position: relative;
		cursor: pointer;

		> .sort-up, > .sort-down {
			color: $c-dark-text;
			position: absolute;
			transition: color $t-fast-standard;
			top: 0;
			left: 0;
		}

		> .sort-down {
			top: $g-8;
		}

		&.-unsorted {
			> .sort-up, > .sort-down {
				color: $c-primary-text;
			}
		}

		&.-sorting-desc > .sort-down {
			color: $c-primary-text;
		}

		&.-sorting-asc > .sort-up {
			color: $c-primary-text;
		}
	}
}*/
