$crc: '.h-dropdown-item';

#{$crc} {
	line-height: $v-control-height;
	padding: 0 $g-12 0 $g-8;
	cursor: pointer;
	white-space: nowrap;
	font-size: $fs-default;
	transition: $t-fast-standard;
	outline: none;
	text-overflow: ellipsis;
	overflow: hidden;

	&:hover, &.-focused {
		color: $c-primary-text;
		background: rgba($c-primary, $o-4);
	}

	&.-disabled {
		color: $c-disabled--primary-text;
		background: transparent;
		cursor: not-allowed;
	}
}

#{$crc}__icon {
	margin-right: $g-4;
}
