.fragment-slide-down-container{
  transition: height $t-medium-standard;
}
.fragment-slide-down-enter-active, .fragment-slide-down-leave-active {
  position: absolute;
  transition: opacity $t-medium-standard, transform $t-medium-standard;
}
.fragment-slide-down-enter, .fragment-slide-down-leave-to {
  opacity: $o-0;
  transform: translateY(15px);
}


.fragment-fade-container{
  transition: height $t-medium-standard;
}
.fragment-fade-enter-active, .fragment-fade-leave-active {
  position: absolute;
  transition: opacity $t-medium-standard;
}
.fragment-fade-enter, .fragment-fade-leave-to {
  opacity: $o-0;
}
