

/* Opacity's
   ========================= */

$o-0:    0;
$o-0p:   0;
$o-4:  .04;
$o-4p:   4;
$o-8:  .08;
$o-8p:   8;
$o-16: .16;
$o-16p: 16;
$o-32: .32;
$o-32p: 32;
$o-48: .48;
$o-48p: 48;
$o-64: .64;
$o-64p: 64;
$o-80: .80;
$o-80p: 80;
$o-100: 1.0;
$o-100p: 100;



/* Base colors
   ========================= */

$c-primary: #319C9C !default;
$c-secondary: #52c5ff !default;
$c-negative: #4A5C5C !default;
$c-success: #41CD41 !default;
$c-warning: #FFC550 !default;
$c-danger: #FF5050 !default;

$c-disabled: #F8F8F8;
$c-fill: #FFFFFF;

$c-light-primary: rgba-solid(rgba($c-primary, $o-32), #F5F5F5);
$c-light-secondary: rgba-solid(rgba($c-secondary, $o-32), #F5F5F5);
$c-light-negative: rgba-solid(rgba($c-negative, $o-32), #F5F5F5);
$c-light-success: rgba-solid(rgba($c-success, $o-32), #F5F5F5);
$c-light-warning: rgba-solid(rgba($c-warning, $o-32), #F5F5F5);
$c-light-danger: rgba-solid(rgba($c-danger, $o-32), #F5F5F5);

$c-dark-primary: rgba-solid(rgba($c-primary, $o-80), #000);
$c-dark-secondary: rgba-solid(rgba($c-secondary, $o-80), #000);
$c-dark-negative: rgba-solid(rgba($c-negative, $o-80), #000);
$c-dark-success: rgba-solid(rgba($c-success, $o-80), #000);
$c-dark-warning: rgba-solid(rgba($c-warning, $o-80), #000);
$c-dark-danger: rgba-solid(rgba($c-danger, $o-80), #000);

$c-default-shadow: #4A5C5C;

$c-primary-text: $c-primary;
$c-default-text: #202020;
$c-dark-text: #4A5C5C;
$c-light-text: #C7DBDB;
$c-dark-text-hint: rgba($c-dark-text, $o-64);
$c-light-text-hint: rgba($c-light-text, $o-64);



/* Components colors
   ========================= */

$c-primary-border: $c-light-primary;
$c-secondary-border: $c-light-secondary;
$c-negative-border: $c-light-negative;
$c-success-border: $c-light-success;
$c-warning-border: $c-light-warning;
$c-danger-border: $c-light-danger;

$c-primary-background: $c-fill;
$c-secondary-background: $c-fill;
$c-negative-background: $c-fill;
$c-success-background: $c-fill;
$c-warning-background: $c-fill;
$c-danger-background: $c-fill;

$c-secondary-text: $c-secondary;
$c-negative-text: $c-negative;
$c-success-text: $c-success;
$c-warning-text: $c-warning;
$c-danger-text: $c-danger;


$c-checked--primary-background: $c-primary;
$c-checked--secondary-background: $c-secondary;
$c-checked--negative-background: $c-negative;
$c-checked--success-background: $c-success;
$c-checked--warning-background: $c-warning;
$c-checked--danger-background: $c-danger;

$c-checked--primary-text: $c-fill;
$c-checked--secondary-text: $c-fill;
$c-checked--negative-text: $c-fill;
$c-checked--success-text: $c-fill;
$c-checked--warning-text: $c-fill;
$c-checked--danger-text: $c-fill;


$c-hover--primary-background: $c-primary;
$c-hover--secondary-background: $c-secondary;
$c-hover--negative-background: $c-negative;
$c-hover--success-background: $c-success;
$c-hover--warning-background: $c-warning;
$c-hover--danger-background: $c-danger;

$c-hover--primary-border: $c-primary;
$c-hover--secondary-border: $c-secondary;
$c-hover--negative-border: $c-negative;
$c-hover--success-border: $c-success;
$c-hover--warning-border: $c-warning;
$c-hover--danger-border: $c-danger;


$c-active--primary-background: $c-dark-primary;
$c-active--secondary-background: $c-dark-secondary;
$c-active--negative-background: $c-dark-negative;
$c-active--success-background: $c-dark-success;
$c-active--warning-background: $c-dark-warning;
$c-active--danger-background: $c-dark-danger;

$c-active--primary-border: $c-dark-primary;
$c-active--secondary-border: $c-dark-secondary;
$c-active--negative-border: $c-dark-negative;
$c-active--success-border: $c-dark-success;
$c-active--warning-border: $c-dark-warning;
$c-active--danger-border: $c-dark-danger;

$c-active--primary-text: $c-dark-primary;
$c-active--secondary-text: $c-dark-secondary;
$c-active--negative-text: $c-dark-negative;
$c-active--success-text: $c-dark-success;
$c-active--warning-text: $c-dark-warning;
$c-active--danger-text: $c-dark-danger;


$c-disabled--primary-background: $c-disabled;
$c-disabled--secondary-background: $c-disabled;
$c-disabled--negative-background: $c-disabled;
$c-disabled--success-background: $c-disabled;
$c-disabled--warning-background: $c-disabled;
$c-disabled--danger-background: $c-disabled;

$c-disabled--primary-text: rgba($c-dark-text, $o-64);
$c-disabled--secondary-text: rgba($c-dark-text, $o-64);
$c-disabled--negative-text: rgba($c-dark-text, $o-64);
$c-disabled--success-text: rgba($c-dark-text, $o-64);
$c-disabled--warning-text: rgba($c-dark-text, $o-64);
$c-disabled--danger-text: rgba($c-dark-text, $o-64);


$c-box--primary-border: $c-primary-border;
$c-box--danger-border: $c-danger-border;
$c-box-background: $c-fill;
$c-box-backdrop: rgba($c-fill, $o-80);


/* Layout
   ========================= */

$g-4:   4px;
$g-8:   8px;
$g-12: 12px;
$g-16: 16px;
$g-20: 20px;
$g-24: 24px;
$g-28: 28px;
$g-32: 32px;
$g-36: 36px;
$g-40: 40px;
$g-44: 44px;
$g-48: 48px;
$g-52: 52px;
$g-56: 56px;
$g-60: 60px;
$g-64: 64px;



/* Grid
   ========================= */

$g-num-cols: 12 !default;
$g-gutter-width: $g-24 !default;
$g-row-margin: $g-16 !default;

$g-small-screen: 576px !default;
$g-medium-screen: 992px !default;
$g-large-screen: 1200px !default;
$g-extra-large-screen: 1800px !default;

$mq-small-and-up: "min-width: #{$g-small-screen}" !default;
$mq-medium-and-up: "min-width: #{$g-medium-screen}" !default;
$mq-large-and-up: "min-width: #{$g-large-screen}" !default;
$mq-extra-large-and-up: "min-width: #{$g-extra-large-screen}" !default;



/* Font-sizes
   ========================= */

$fs-tiny: 10px;
$fs-small: 12px;
$fs-default: 13px;
$fs-header: 16px;
$fs-page-header: 20px;



/* Font-weights
   ========================= */

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;



/* Speeds
   ========================= */

$s-fast: 256ms;
$s-medium: 512ms;
$s-slow: 1024ms;
$s-very-slow: 2048ms;



/* Controls
   ========================= */

$v-control-height-tiny2x: 8px;
$v-control-height-tiny: 16px;
$v-control-height-small: 24px;
$v-control-height: 32px;
$v-control-height-large: 48px;
$v-control-border-radius: 2px;
$v-control-border-width: 1px;
$v-control-thick-border-width: 3px;
$v-control-disabled-opacity: $o-64;

$v-box-border-width: 1px;
$v-box-border-radius: 4px;



/* Easing's
   ========================= */

$e-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
$e-deceleration: cubic-bezier(0.0, 0.0, 0.2, 1);
$e-acceleration: cubic-bezier(0.4, 0.0, 1, 1);
$e-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);



/* Transition
   ========================= */

$t-fast-standard: $s-fast $e-standard;
$t-medium-standard: $s-medium $e-standard;
$t-slow-standard: $s-slow $e-standard;
$t-fast-deceleration: $s-fast $e-deceleration;
$t-medium-deceleration: $s-medium $e-deceleration;
$t-slow-deceleration: $s-slow $e-deceleration;
$t-fast-acceleration: $s-fast $e-acceleration;
$t-medium-acceleration: $s-medium $e-acceleration;
$t-slow-acceleration: $s-slow $e-acceleration;
$t-fast-sharp: $s-fast $e-sharp;
$t-medium-sharp: $s-medium $e-sharp;
$t-slow-sharp: $s-slow $e-sharp;



/* Shadows
   ========================= */

$sd-hover--primary-box-shadow: default-box-shadow($c-primary, $o-16p, $g-12);
$sd-hover--secondary-box-shadow: default-box-shadow($c-secondary, $o-16p, $g-12);
$sd-hover--negative-box-shadow: default-box-shadow($c-negative, $o-16p, $g-12);
$sd-hover--success-box-shadow: default-box-shadow($c-success, $o-16p, $g-12);
$sd-hover--warning-box-shadow: default-box-shadow($c-warning, $o-16p, $g-12);
$sd-hover--danger-box-shadow: default-box-shadow($c-danger, $o-16p, $g-12);

$sd-hover--primary-text-shadow: default-text-shadow($c-primary);
$sd-hover--secondary-text-shadow: default-text-shadow($c-secondary);
$sd-hover--negative-text-shadow: default-text-shadow($c-negative);
$sd-hover--success-text-shadow: default-text-shadow($c-success);
$sd-hover--warning-text-shadow: default-text-shadow($c-warning);
$sd-hover--danger-text-shadow: default-text-shadow($c-danger);


$sd-active--primary-box-shadow: default-box-shadow($c-dark-primary, $o-16p, $g-12);
$sd-active--secondary-box-shadow: default-box-shadow($c-dark-secondary, $o-16p, $g-12);
$sd-active--negative-box-shadow: default-box-shadow($c-dark-negative, $o-16p, $g-12);
$sd-active--success-box-shadow: default-box-shadow($c-dark-success, $o-16p, $g-12);
$sd-active--warning-box-shadow: default-box-shadow($c-dark-warning, $o-16p, $g-12);
$sd-active--danger-box-shadow: default-box-shadow($c-dark-danger, $o-16p, $g-12);

$sd-active--primary-text-shadow: default-text-shadow($c-dark-primary);
$sd-active--secondary-text-shadow: default-text-shadow($c-dark-secondary);
$sd-active--negative-text-shadow: default-text-shadow($c-dark-negative);
$sd-active--success-text-shadow: default-text-shadow($c-dark-success);
$sd-active--warning-text-shadow: default-text-shadow($c-dark-warning);
$sd-active--danger-text-shadow: default-text-shadow($c-dark-danger);

$sd-card-box-shadow: 0 2px $g-4 rgba($c-default-shadow, $o-16);
$sd-modal-box-shadow: 0 0 $g-16 rgba($c-default-shadow, $o-16);
$sd-tooltip-box: 0 0 $g-12 rgba($c-default-shadow, $o-16);
